.header {
    position: relative;
}

.burger {
    &[open] nav {
        transform: translate(-100%);
        opacity: 100%;
        transition: all .5s;
    }
}

.burger__nav {
    right: -230px;
    top: 100%;
    position: absolute;
    opacity: 0;
    transition: all .9s;
}

.nav {
    padding: 37px 73px 32px 34px;
    z-index: 20;

    background-color: #fff;
    display: flex;
    gap: 24px;
    flex-direction: column;

    @extend %text-style;

    &__head {
        color: #000;
        font-weight: 700;

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__subhaed {
        color: $colorSelectSite;
        margin-bottom: 12px;
    }

    &__links {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 11px;

        & a {
            color: $colorTextGray;

            &:hover {
                color: $colorSelectSite;
            }
        }

    }
}