.top-head {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F3F4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;



    &__heading {
        color: $colorSelectSite;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
    }

    @media (max-width: 767px) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 46px;

        &_cart {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .breadcrumbs {
        &__list {
            display: flex;
        }

        &__link {
            color: #636363;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            &:not(:last-child):after {
                content: "/";
                padding-left: 8px;
                padding-right: 8px;
            }

            &:last-child a {
                color: $colorSelectSite;
                font-weight: 700;
            }
        }
    }
}

.product-box {
    padding-top: 10px;
    padding-bottom: 195px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 767px) {
        padding-bottom: 129px;
    }

    &__image {
        background-color: #F7F7F7;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &__photo {

        margin: 0 auto;

        & img {
            width: 100%;
        }
    }

    &__info {
        text-align: center;

    }

    &__subtitle {
        color: $colorSelectSite;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        margin-bottom: 27px;

        &:after {
            content: '';
            width: 63px;
            height: 3px;
            background-color: $colorSelectSite;
            position: absolute;
            bottom: -12px;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    &__title {
        color: #4D4D4D;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;

        @media (max-width: 767px) {
            margin-bottom: 32px;
        }
    }

    &__description {
        max-width: 555px;
        color: #5E5E5E;

        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 32px;
    }

    &__price {
        color: #EF5B70;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 65px;
        border-bottom: 1px solid $colorSelectSite;
        margin: 0 auto;

        @media (max-width: 767px) {
            padding-bottom: 32px;
            width: 174px;
        }
    }

    &__sort {
        margin-top: 65px;
        margin-bottom: 48px;
    }
}

.arrow {
    position: relative;
    display: block;
    min-width: 47px;
    height: 47px;
    background-color: rgba(42, 42, 42, 0.15);

    & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover path {
        fill: $colorSelectSite;
    }
}